@charset "utf-8";
/* CSS Document */
body{background:white  url(../images/bknd.jpg) top repeat-x; font-family:Verdana, Arial, Helvetica, sans-serif; border:0px; padding:0px; margin:0; }

h1, h2, h3{font-family:Georgia, "Times New Roman", Times, serif; }
h1{display:none;}
.ombre{padding-top:60px;position:absolute; top:1px; left:1px; color:#333333}
.text.ombre{padding-top:60px;position:absolute; top:0px; left:0px; color:#003300}
h2{background: url(../images/h1-background.png)}
p{padding-left:10px; font-size:smaller; }
#entete{height:170px; background: url(../images/fond.png) #006600;}
#entete #freeculturalworks{float:right; margin-top:10px; }
.menu{display:none}
.accessibilite{display:none;}
#page{position:relative; background:url(../images/blanctransparent.png); width:750px; margin:auto; }
.lang{
	float:right;
	width:60px;
	height:37px;
	margin-top:5px;
	margin-right:-17px
}
.lang:lang(en){background:url(../images/iconeDrapeaux.png) ;}
.lang:lang(fr){background:url(../images/iconeDrapeaux.png) -60px;}
.lang a {width:100%; height:100%; display:block}
div.image{text-align:center;}
.legende{font-style:italic}
.bord.page.gauche{position:absolute; left:-4px; top:0px; width:4px; height:100%; background: url(../images/cotegauche.png) repeat-y  }
.bord.page.droit{position:absolute; right:-4px; top:0px; width:4px; height:100%; background: url(../images/cotedroit.png) repeat-y  }
#content{padding:20px; position:relative;}
#piedpage{height:270px; width:750px; background-color:#CCCCCC; left:0px;}
#piedpage .titre {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 24px;
	margin-left: -10px;
	padding-bottom: 10px;
	display: block;
	margin-top: -10px;
}
#page #piedpage .boite {
	margin: 20px;
	border-right: thin dotted #999999;
	width: 250px;
	height: 200px;
}
#piedpage .copyright{ clear:both;	text-align:center; bottom:20px; height:20px; width:100%; font-size:10px;}
#piedpage .frameworks{
	width:200px;
	float: left;
}
#piedpage .logos{ text-align:right;}
#page #piedpage .linksicons{
	width:120px;
	right:0px;
	float:left;
	border-right:0px;
}
.linksicons .titre{
	text-align:left;
	display:block;
}
.linksicons a{
	height:16px;
	width:16px;
	display:block;
	float:right;
	margin: 5px;
}
.linksicons .stumbleupon{ background:url(../images/iconeSocialBookmarking.png)}
.linksicons .google{background:url(../images/iconeSocialBookmarking.png) 0px -16px}
.linksicons .digg{background:url(../images/iconeSocialBookmarking.png) -16px 0px}
.linksicons .delicious{background:url(../images/iconeSocialBookmarking.png) -32px -16px}
.linksicons .twitter{background:url(../images/iconeSocialBookmarking.png) -32px 0px}
.linksicons .reddit{background:url(../images/iconeSocialBookmarking.png) -16px -16px}
h1{text-align:center}
#piedpage .frameworks .logos img {
	margin: 10px;
}
